<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

    <h1>Simple Login</h1>

    <form action="/login" method="post">

        <div>
            <label>Username:</label>
            <input
                type="text"
                name="username"
                required
            >
        </div>

        <br>

        <div>
            <label>Password:</label>
            <input
                type="password"
                name="password"
                required
            >
        </div>

        <br>

        <button type="submit">Login</button>

    </form>

    <br>

    <a href="/logout">Logout</a>

</body>
</html>
